.card-surat{
    cursor: pointer;
    transition:.8s;
}
.card-surat:hover{
    background-color: #0c99a6;
}
body{
    background: url(bgislam.jpg);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}